@use "./../../../../public/styles/forms-pages.scss";
:host{
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
    list-style: none;
    padding: 0;
    margin-top: 0;
    background-color: white;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 0 0 8px 8px;
    overflow: hidden;
}
#container.card{
    grid-column: 2/3;
    background-color: white;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 8px;
    padding: 20px;
    height: fit-content;
    h2{
        font-size: 20px;
        font-weight: 500;
        color:gray;
        margin-bottom: 20px;
        border-bottom: 1px solid rgb(207, 207, 207);
        padding-bottom: 10px;
    }
    form{
        display: flex;
        flex-direction: column;
        & > div{
            margin-bottom: 15px;
            label{
                display:block;
                font-size: 14px;
                color: gray;
                margin-bottom: 3px;
            }
            input:not([type="checkbox"]) {
                width: 100%;
                padding: 8px 10px;
                font-size: 15px;
                border: 1px solid rgb(207, 207, 207);
                border-radius: 4px;
                box-sizing: border-box;
                transition: border-color 0.2s, box-shadow 0.2s;

                &:focus {
                    outline: none;
                    border-color: lightskyblue;
                    box-shadow: 0 0 0 1px lightskyblue;
                }
                 &.ng-invalid.ng-touched {
                    border-color: red;
                }
            }
            input[type="checkbox"] {
                margin-top: 5px;
                width: auto;
                height: 16px;
            }
            .error {
                color: red;
                font-size: 12px;
                margin-top: 5px;
                font-weight: 500;
            }
        }
        button{
            background-color: lightskyblue;
            color:black;
            border: none;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            font-size: 24px;
            font-weight: 300;
            cursor: pointer;
            transition: background-color 0.2s, transform 0.1s;
            align-self: flex-end;
            margin-top: 15px;
            &:hover:not(:disabled){
                background-color: deepskyblue;
                color: white
            }
            &:disabled{
                background-color: rgb(207, 207, 207);
                cursor: not-allowed;
                color: rgb(207, 207, 207)
            }
        }

    }
}
